body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1 {
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 2%;
  line-height: 1.07;
  color: #ffffff;
}
h2 {
  color: #2e2f42;
}
h3 {
  font-size: 20px;
  font-weight: medium;
  letter-spacing: 2%;
  color: #2e2f42;
}

p {
  color: #554352;
}
a:link {
  text-decoration: none;
}


/* header */
.header-nav-items {
  color: #2e2f42;
  font-size: 16px;
  font-weight: medium;
  line-height: 1.5;
  letter-spacing: 2%;
}
.header-socials {
  color: #434455;
  font-weight: regular;
  font-size: 16px;
  letter-spacing: 2%;
}
.header-socials:hover {
  color: #4d5ae5;
}
.header-socials:active {
  color: #4d5ae5;
}


/* main section */
.main-section {
    background-color: #2e2f42;
}
.main-section-button {
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.main-section-button:active {
  color: #ffffff;
  background: #404bbf;
}


/* about us section */
.about-us-section {
    background-color: #ffffff;
}


/* our team section */
.our-team-section {
    background-color: #F4F4FD;
}
.our-team-section-title,
our-portfolio-section-title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2%;
}


/* our portfolio section */
.our-portfolio-section {
    background-color: #ffffff;
}


/* footer */
footer {
    background-color: #2E2F42;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: regular;
  line-height: 1.5;
  letter-spacing: 2%;
}
